Builds/.DS_Store
Builds/MacOSX/Info-AU.plist
Builds/MacOSX/Info-Standalone_Plugin.plist
Builds/MacOSX/Info-VST3_Manifest_Helper.plist
Builds/MacOSX/Info-VST3.plist
Builds/MacOSX/RecentFilesMenuTemplate.nib
Builds/MacOSX/JX11.xcodeproj/project.pbxproj
Builds/MacOSX/JX11.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Builds/MacOSX/JX11.xcodeproj/project.xcworkspace/xcuserdata/paulmayer.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/JX11.xcodeproj/xcshareddata/xcschemes/JX11 - VST3.xcscheme
Builds/MacOSX/JX11.xcodeproj/xcuserdata/paulmayer.xcuserdatad/xcschemes/xcschememanagement.plist
Builds/MacOSX/build/Debug/juce_vst3_helper
Builds/MacOSX/build/Debug/libJX11.a
Builds/MacOSX/build/Debug/JX11.app/Contents/Info.plist
Builds/MacOSX/build/Debug/JX11.app/Contents/PkgInfo
Builds/MacOSX/build/Debug/JX11.app/Contents/MacOS/JX11
Builds/MacOSX/build/Debug/JX11.app/Contents/Resources/RecentFilesMenuTemplate.nib
Builds/MacOSX/build/Debug/JX11.app/Contents/_CodeSignature/CodeResources
Builds/MacOSX/build/Debug/JX11.vst3/Contents/Info.plist
Builds/MacOSX/build/Debug/JX11.vst3/Contents/PkgInfo
Builds/MacOSX/build/Debug/JX11.vst3/Contents/MacOS/JX11
Builds/MacOSX/build/Debug/JX11.vst3/Contents/Resources/moduleinfo.json
Builds/MacOSX/build/Debug/JX11.vst3/Contents/Resources/RecentFilesMenuTemplate.nib
Builds/MacOSX/build/Debug/JX11.vst3/Contents/_CodeSignature/CodeResources
JuceLibraryCode/include_juce_audio_basics.cpp
JuceLibraryCode/include_juce_audio_basics.mm
JuceLibraryCode/include_juce_audio_devices.cpp
JuceLibraryCode/include_juce_audio_devices.mm
JuceLibraryCode/include_juce_audio_formats.cpp
JuceLibraryCode/include_juce_audio_formats.mm
JuceLibraryCode/include_juce_audio_plugin_client_AAX_utils.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AAX.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AAX.mm
JuceLibraryCode/include_juce_audio_plugin_client_ARA.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AU_1.mm
JuceLibraryCode/include_juce_audio_plugin_client_AU_2.mm
JuceLibraryCode/include_juce_audio_plugin_client_AUv3.mm
JuceLibraryCode/include_juce_audio_plugin_client_LV2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_LV2.mm
JuceLibraryCode/include_juce_audio_plugin_client_Standalone.cpp
JuceLibraryCode/include_juce_audio_plugin_client_Unity.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST2.mm
JuceLibraryCode/include_juce_audio_plugin_client_VST3.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST3.mm
JuceLibraryCode/include_juce_audio_processors_ara.cpp
JuceLibraryCode/include_juce_audio_processors_lv2_libs.cpp
JuceLibraryCode/include_juce_audio_processors.cpp
JuceLibraryCode/include_juce_audio_processors.mm
JuceLibraryCode/include_juce_audio_utils.cpp
JuceLibraryCode/include_juce_audio_utils.mm
JuceLibraryCode/include_juce_core_CompilationTime.cpp
JuceLibraryCode/include_juce_core.cpp
JuceLibraryCode/include_juce_core.mm
JuceLibraryCode/include_juce_data_structures.cpp
JuceLibraryCode/include_juce_data_structures.mm
JuceLibraryCode/include_juce_events.cpp
JuceLibraryCode/include_juce_events.mm
JuceLibraryCode/include_juce_graphics_Harfbuzz.cpp
JuceLibraryCode/include_juce_graphics_Sheenbidi.c
JuceLibraryCode/include_juce_graphics.cpp
JuceLibraryCode/include_juce_graphics.mm
JuceLibraryCode/include_juce_gui_basics.cpp
JuceLibraryCode/include_juce_gui_basics.mm
JuceLibraryCode/include_juce_gui_extra.cpp
JuceLibraryCode/include_juce_gui_extra.mm
JuceLibraryCode/JuceHeader.h
JuceLibraryCode/JucePluginDefines.h
JuceLibraryCode/ReadMe.txt
